* {
    box-sizing: border-box;
  }
  
body {
    margin: 0px;
}
.menu {
    display : none;
}
.entete {
    padding: 40px;
    text-align: center;
    background-image: url('../img/background_entete.jpg');
    background-position: 0px -700px;
    color: white;
}

.menu-conteneur {
    display: flex;
    background-color: #4c1d31;
}

.menu-lien {
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.menu-lien:hover {
    background-color: #873559;
}

#conteneur-principale {
    display: grid;
    
    grid-template-areas: 
        "presentation articles";
    gap: 10px;
    padding: 10px;
}

.presentation {
    display: flex;
    grid-area: presentation;
    padding: 20px;
    background-color: #d07b80;
    border-radius: 10px;
    height: fit-content;
}

.image-presentation {
    width: 100%;
}

#conteneur-article {
    grid-area: articles;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.justify {
    text-align: justify;
}

article {
    padding: 20px;
    background-color: #d07b80;
    border-radius: 10px;
}

.article_image {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 20px;
}

footer {
    padding: 10px;
    background-color: #4c1d31;
    color: white;
    text-align: right;
}
/* Style de base */
.menu {
  background-color: #333;
  padding: 10px;
  position: relative;
}

.menu-items {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-items li a {
  color: white;
  text-decoration: none;
}

/* Icône hamburger (☰) */
.menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Cacher la checkbox */
#menu-toggle {
  display: none;
}

/* Responsive : écran < 800px */
@media screen and (max-width: 800px) {
  .menu-items {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
  .presentation {
    display: flex;
    justify-content: flex-end;
 }
  .menu-conteneur{
    display: none;
  }
  .menu{
    display :flex;
    justify-content: flex-start;
    background-color: none;
  }
  #conteneur-principale{
     grid-template-areas: 
        "presentation articles";
  }
  
 #conteneur-article {
    grid-area: presentation articles;
  }
  .presentation {
    grid-area: presentation articles;
  }

  .menu-icon {
    display: block;
  }

  /* Quand la checkbox est cochée, on affiche le menu */
  #menu-toggle:checked + .menu-icon + .menu-items {
    display: flex;
  }
}


 .presentation {
    display: none;
 }
 @media screen and (min-width: 801px) {
    .presentation {
    display: flex;
    }
 }
 @media print and ( not(color) ) {
  
}
  
  